/*Обнулення*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;font-family:'Roboto';line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;color: inherit;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
  background: url('../img/bg.png');
  -webkit-tap-highlight-color: transparent;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  row-gap: 30px;
}
.spollers {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.spollers__item {
  border-radius: 5px;
  background-color: #A9D6DF;
  color: #15263c;
}
.spollers__title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
  min-height: 40px;
  background-color: transparent;
  border-bottom: 1px solid rgba(131, 168, 175, 0.3);
  transition: border 0.3s ease 0s;
  cursor: auto;
  pointer-events: none;
}
.spollers__body p {
  padding: 20px 15px;
}
.is-init .spollers__title {
  padding: 10px 45px 10px 15px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  pointer-events: all;
}
.is-init .spollers__title::before,
.is-init .spollers__title::after{
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #15263c;
  height: 2px;
  width: 15px;
  transition: transform 0.5s ease 0s;
  border-radius: 5px;
}
.is-init .spollers__title::before {
  border-radius: 5px;
  transform: translate(-70%, -50%) rotate(40deg);
}
.is-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.is-init .spollers__title.active {
  border-bottom: 1px solid rgba(131, 168, 175, 0.3);
}
.is-init .spollers__title.active::before {
  transform: translate(-70%,-50%) rotate(-40deg);
}
.is-init .spollers__title.active::after {
  transform: translate(0, -50%) rotate(40deg);
}